<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      {{ web.show }} <br />
      <!--实际效果  <p style="display: none;">wangdada ctra.top</p> -->
      <p v-show="web.show">wangdada ctra.top</p>
      <p v-if="web.show">www.ctra.top</p>

      <button @click="toggle">click me</button>
      <p v-if="web.user <1000">lower</p>
      <p v-else-if="web.user >=1000 && web.user <10000">normal</p>
      <p v-else="web.user >=10000">high</p>
    </div>

    <script type="module">
      // v-show: 不会增加和删除dom中的元素（而v-if会）

      import { createApp, reactive } from "../vue.esm-browser.js";

      // 此时预览需要再 live-server下（即：服务器运行才行）
      createApp({
        // setup 选项，用于设置响应式数据和方法等
        setup() {
          const web = reactive({
            show: true,
            user: 50000,
          });

          const toggle = () => {
            console.log("-----点了一下！");
            web.show = !web.show;
          };
          return {
            web,
            toggle,
          };
        },
      }).mount("#app");
    </script>
  </body>
</html>
