<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <div id="app">
      <table>
        <thead>
          <tr>
            <td>
              <input type="checkbox" v-model="data.selected" />
            </td>
            <td>商品</td>
            <td>单价</td>
            <td>库存</td>
            <td colspan="2">操作</td>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(value,index) in data.list">
            <td>
              <input
                type="checkbox"
                :value="value"
                v-model="data.checkboxList"
              />
            </td>
            <td>{{ value.name }}</td>
            <td>{{ value.price }}</td>
            <td>{{ value.stock }}</td>
            <td>
              <button @click="sub(value)">-</button>
              {{ value.number }}
              <button @click="add(value)">+</button>
            </td>
            <td><button @click="del(index,value.id)">删除</button></td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td>总价 {{totalPrice()}}</td>
          </tr>
        </tfoot>
      </table>
    </div>

    <script type="module">
      // 计算属性：有缓存（计算属性根据其依赖的响应式数据变化而重新计算

      import { createApp, reactive, watch } from "../vue.esm-browser.js";

      // 此时预览需要再 live-server下（即：服务器运行才行）
      createApp({
        // setup 选项，用于设置响应式数据和方法等
        setup() {
          const data = reactive({
            selected: false,
            checkboxList: [],
            list: [
              {
                id: 1,
                name: "铅笔",
                price: 10,
                number: 1,
                stock: 3,
              },
              {
                id: 2,
                name: "鼠标",
                price: 20,
                number: 2,
                stock: 3,
              },
              {
                id: 3,
                name: "键盘",
                price: 30,
                number: 1,
                stock: 6,
              },
            ],
          });

          watch(
            () => data.selected,
            (newVal, oldVal) => {
              if (newVal) {
                data.checkboxList = data.list;
                console.log(data.checkboxList);
              } else {
                if (flag){
                  data.checkboxList = [];
                }
              }
            }
          );

          let flag = true;
          watch(
            () => data.checkboxList,
            (newVal, oldVal) => {
              if (newVal.length == data.list.length && data.list.length != 0 ) {
                data.selected = true;
                flag = true;
              } else {
                data.selected = false;
                flag = false;
              }
            }
          );

          const totalPrice = () => {
            let total = 0;
            for (let index = 0; index < data.checkboxList.length; index++) {
              total +=
                data.checkboxList[index].price *
                data.checkboxList[index].number;
            }
            return total;
          };

          const sub = (value) => {
            value.number--;
            if (value.number <= 1) {
              value.number = 1;
            }
          };

          const add = (value) => {
            value.number++;
            if (value.number >= value.stock) {
              value.number = value.stock;
            }
          };
          const del = (index, id) => {
            data.list.splice(index, 1);
            let newArr = data.checkboxList.filter((value, index) => {
              return value.id != id;
            });
            data.checkboxList = newArr;
            changeSelect();
          };

          return {
            data,
            // selectAll,
            // changeSelect,
            totalPrice,
            sub,
            add,
            del,
          };
        },
      }).mount("#app");
    </script>
  </body>
</html>
